@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,300;0,400;0,500;1,600;1,700&display=swap");

@import "./utilities.css";
@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smothing: antialiased;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray);

  /* background-color: rgb(246, 244, 244); */
  background-color: var(--gray100);
  /* background-color: var(--pure); */
}

.section-header {
  font-size: 35px;
  font-weight: 700;
}
p {
  padding: 0 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
section.top-banner {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 500px;
}
section.top-banner h1 {
  font-size: 40px;
}
.highlight {
  color: orange;
}

section.top-banner p {
  padding: 0;
  margin: 2rem 0;
  font-weight: 500;
  line-height: 1.7;
  color: var(--gray);
}

section.top-banner div.content {
  text-align: center;
  padding-top: 4rem;
  width: 40%;
}

section.top-banner .half-width img {
  width: 100%;
}

.anchor-btn {
  text-decoration: none;
  color: var(--pure);
  background: linear-gradient(45deg, orange, tomato);
  padding: 15px 30px;
  border-radius: 30px;
}

section.about {
  background-image: url("/assets/images/shapes/7.png");

  background-size: cover;
  background-repeat: no-repeat;
}

section.about .wrapper {
  padding-top: 4rem;
}
section.about .left {
  text-align: center;
}
section.about .left img {
  width: 60%;
}
section.about .right {
  text-align: center;
}
/* section.about .right p {
  
  padding: 0 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  line-height: 1.7;
} */

section.recipies {
  /* background-color: var(--light); */
  text-align: center;
  padding: 6rem 0;
}
section.recipies p {
  padding: 0 8rem;
}

section.recipies div.card-wrapper div {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--pure);
  margin-right: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--gray300);
}

section.recipies div.card-wrapper div.right {
  margin-right: 0;
}
section.recipies div.card-wrapper div img {
  width: 100%;
}

section.recipies div.card-wrapper div h2 {
  margin-top: 2rem;
}
section.recipies div.card-wrapper div p {
  padding: 0;
}

section.social-state {
  padding-bottom: 4rem;
}
section.social-state div.wrapper {
  box-shadow: 0 5px 10px var(--gray300);
  background-color: var(--pure);
  padding: 2rem 8rem;
  border-radius: 15px;
}

section.social-state div.wrapper div {
  text-align: center;
}
section.social-state div.wrapper div span {
  margin-top: 0.5rem;
  font-size: 13px;
}

footer {
  margin-top: 4rem;
  font-family: "Lobster", sans-serif;
  height: 150px;
  background-color: #2d333f;
  text-align: center;
  padding-top: 2.5rem;
}

footer p {
  margin: 1rem 0;
  color: var(--pure);
}
